#SPDX-License-Identifier: MIT-0
---
# tasks file for ./ansible-role-hostname/

- name: Check if hostname is already cached
  ansible.builtin.set_fact:
    _hostname_cached: "{{ ansible_facts['cached_hostname'] is defined }}"
  tags:
    - hostname
    - always

- name: Read hostname from remote host
  ansible.builtin.slurp:
    src: /etc/hostname
  register: _hostname_file
  when: not _hostname_cached | bool
  tags:
    - hostname

- name: Cache hostname fact
  ansible.builtin.set_fact:
    cached_hostname: "{{ _hostname_file.content | b64decode | trim }}"
    cacheable: true
  when: not _hostname_cached | bool
  tags:
    - hostname

- name: Set hostname variable for convenience
  ansible.builtin.set_fact:
    hostname: "{{ ansible_facts['cached_hostname'] }}"
  tags:
    - hostname
    - always
